<%= stylesheet_link_tag 'trix' %>

<%= form_for article do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <% if article.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% article.errors.full_messages.each do |message| %>
              <li class="red-text text-darken-2">
                <i class="material-icons" style="font-size: 15px">error</i>
                <span style="font-size: 15px"><%= message %></span>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>

  <form>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :title, required: true, autofocus: true, class: 'validate' %>
        <label for="title">Title</label>
      </div>
    </div>
    <div class="row">
      Content
      <div class="input-field col s12">
        <%= f.text_area :text, required: true, class: 'materialize-textarea', hidden: 'hidden' %>
        <trix-editor input="article_text"></trix-editor>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :tags, value: @tags_str %>
        <label for="tags">Tags</label>
        <span class="helper-text" data-error="wrong" data-success="right">Split by space</span>
      </div>
    </div>
    <div class="row">
      <div class="col s9"></div>
      <%= f.submit 'Submit', class: 'col s3 waves-effect waves-light btn' %>
    </div>
  </form>
<% end %>

<script type="text/javascript" src="https://cdnjs.loli.net/ajax/libs/trix/1.1.1/trix.js"></script>
